
.deck{
display: block;
width: 70%;
margin-left: 20%;
}
.deck__board{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 1rem;
    right: 0;
    width: 83.1vw;
    justify-content: space-around;
   
    
    // max-width: 800px;
    
}
.deck__add__list{

}

.list{
    flex: 1 0 200px;
}