@mixin shiny-effect {
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 25%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      transform: skewX(-45deg);

      animation: shine 0.8s linear;


      overflow: hidden;
      
    }
  
    @keyframes shine {
      0% {
        left: -100%;
      }
      50% {
        left: 100%;
      }
      100% {
        left: -100%;
      }
    }
  }