$primary-color: #fdbbcb;
$alt-color: #ddd;
$dark-color: #101010;
$light-color: #fff;
$gradient-color-title: linear-gradient(
    217deg,
    rgba(245, 90, 90, 0.8),
    rgba(255, 0, 0, 0) 70.71%
  ),
  linear-gradient(127deg, rgba(27, 114, 106, 0.937), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(146, 146, 251, 0.8), rgba(0, 0, 255, 0) 70.71%);
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: bold;
$title-color: #535bf8;
$title-color-secondary: #5c5e8b;
$title-color-ternary: #167ac6;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;