@use'../../../styles/vars.scss' as vars;

.home-page {
  width: 100%;
  padding: 1em;
}

.welcome-message {
  text-align: center;
  margin-top: 5rem;
  // line-height: 5rem;

  & h1 {
    text-decoration: underline solid 2px;
  }
}

.tableau-container {
  display: flex;
  flex-wrap: wrap;

  max-width: 60%;
  margin: 3rem auto;
  justify-content: center;
}

.tableau {
  flex: 1 0 20%; /* pour des vignettes qui prennent environ 20% de l'espace sur de grands écrans */
  margin: 1em;
  background-image: white;
  /* Ajoutez ici d'autres styles pour les vignettes */
}
.title {
  background: rgba(0, 0, 0, 0.477);
  display: flex;
  // justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  color: vars.$primary-color;
  box-shadow: 0 0 5px rgba(182, 117, 117, 0.5);
  border: rgb(230, 230, 230) 1px solid;
  border-radius: 5px;
  justify-content: space-between;

  &__link{
    display: flex;
  }

  form{
    & input{
      width: 70%;
    }
    & button{
      width: 20%;
    }
  }
}
.titles__button{
  margin-left: 0.5rem;
  & img{
    width:15px;
    height:15px;
  }
}

/* Sur les petits écrans, chaque tableau prend toute la largeur */
@media (max-width: 768px) {
  .tableau {
    flex-basis: 100%;
  }
}
