@use'../../../styles/vars.scss' as vars;




.triangle{
    
    position: absolute;
    right: 5%;
    top: -10%;
    border-left: 50px solid vars.$primary-color;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: rotate(-63deg);
}
.auth{ 
    min-width: 230px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: vars.$title-color 1px solid ;
    border-radius: 5px;
    top: 90px; 
    left:91%;
    transform: translateX(-50%); 
    background: white; 
    padding: 1em;
    z-Index: 1000 ;
    background-color: vars.$primary-color;
    


    &__button{
        margin-top: 1em;
        width: 100%;
       display: flex;
       justify-content: space-evenly;

       &__connect{
        margin-top: 0.5em;
        background-color: vars.$title-color;
        color:vars.$light-color;
        padding: 0.5em;
        border-radius: 5px;
    }
    &__quit{
        //dans le coin a droite
        position: absolute;
        top: 0;
        right: 0;
        // margin: 0.5em;
        color:vars.$title-color;
        padding: 0.5em;

    }
    }
    & form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    & label {
        display: flex;
        flex-direction: column;

        text-align: center;
        margin-top: 0.5em;
        font-size: 16px;
        color: vars.$title-color;
        font-weight: bold;
        border: none;
        & input{
            border: none;
            outline:none;
            transition: ease-in-out 0.3s;
            margin-top: 0.2em;
        }
        & :focus{
            border: none;
            outline:none;
            border-bottom: 1px solid vars.$title-color;
        }
        
    }

}
.password-safety {
    font-size: 0.8rem;
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 2rem;
  
    &-container {
      width: 100%;
      height:0.6rem;
      background-color: grey;
    border-radius: 8px;
    }
  
    &-quart {
      width:25%;
      height:0.6rem;
      background-color:rgb(255, 41, 41);
      border-radius:0 8px 8px 0;
      transition: all 0.3s ease-in-out;
    }
  
    &-middle {
      width:50%;
      height:0.6rem;
      background-color:rgb(255, 138, 48);
      border-radius: 0 8px 8px  0;
      transition: all 0.3s ease-in-out;
    }
  
    &-3quart {
      width:75%;
      height:0.6rem;
      background-color:rgb(253, 224, 143);
      border-radius: 0 8px 8px  0;
      transition: all 0.3s ease-in-out;
    }
  
    &-full {
      width:100%;
      height:0.6rem;
      background-color:rgb(112, 232, 180);
      border-radius: 0 8px 8px  0;
      transition: all 0.3s ease-in-out;
    }
  
    & span {
      font-size: 0.6rem;
    }
    & span {
        font-size: 0.6rem;
        
      }
    
  }
.success{
    display:none;
}
@media screen and (max-width: 400px) {
    .auth{ 
        top: 200px; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        
    }
    
}
