@use"../../../styles/vars.scss" as vars;


.list {
    position: relative;
    width: 250px;
    height: max-content;
  max-height: 700px;
  border: 3px solid vars.$gradient-color-title;
  box-shadow: 0 0 5px vars.$dark-color;
  border-radius: 15px 0;
  margin-top: 2rem;
  padding-bottom:1rem;
  margin-left: 1rem;
  overflow: hidden;
  background-color: rgba(197, 197, 197, 0.448);

  & .utils button{
    font-size: 22px;
    
  }
}



.list__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    color: vars.$title-color;
    padding: 0.8rem;
    align-items: center;
    margin :none;
    
    &__title{
        margin-left: 0.2rem;
      
    }
    &__input{
      font-size: 16px;
      padding :0.97rem;
      width:60%;
    border: none;
      outline: none;
      border-bottom: solid 2px transparent;
      transition: border-bottom 0.5s ease-in-out;

      &:focus{
          border-bottom:  solid 2px vars.$title-color;
      }
    
    }
    &__button{
        font-size: 22px;
        color: vars.$title-color;
        width: 20%;
        
        box-shadow: 0 0 5px vars.$gradient-color-title;
        
        cursor: pointer;

    }
}

@keyframes extend{
  0%{
    width: 0;
    
  }
  100%{
    width: 100%;
    
  }
}
.form__add__card {
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: none

  
    &__input {
      width: 0%;
      transition: width 2s ease-in-out;
      animation: extend 
      0.5s forwards;
      outline: none;
      border: none;
      border: 1px 1px solid transparent;
      border-radius: 5px;
    }
  
    &__input.openInput {
      width: 100%;
      border: 1px 1px solid vars.$title-color;
      
    }
  
    &__button {
      width: 30%;
      font-size: 30px;
      color: vars.$background-color;
      border-radius: 100%;
      box-shadow: 0 0 5px vars.$gradient-color-title;
      cursor: pointer;
    }
  }


@media screen and (max-width: 400px) {
    .list{
        margin-top: 2rem;
        width: 80%;
        border-radius: 10px;
        
        
    }
    
}