@use'../../../styles/vars.scss' as vars;

.header__login{
    display: flex;
    flex-direction: row;
    
    

}


/* Styles de base pour mobile */
.header {
    background:  #00000070;
    display: flex;
    flex-direction: row;

    overflow: hidden;
    font-size: 16px;
    border-bottom: 1px solid vars.$title-color;
    &__title{
        font-family: vars.$title-font;
        font-weight: vars.$title-font-weight;
        color: vars.$title-color;
        vertical-align: middle;
     
        margin: 0;
        padding: 0;
        margin-left: 1rem;
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        
    }
    &__create{
        margin-left: auto;
        // margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        color:vars.$title-color;
    }
   
      

}
.btn-modal{
    margin-top: 0.5rem;
    font-family: vars.$title-font;
    font-size: 2.5rem;
    color:vars.$title-color;
    margin-right: 1rem;
    &-créer{
        margin-left: 0.3rem;
    }
}



