@use'../../../styles/vars.scss' as vars;

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    height:100px;
    width: 100%;
    background:vars.$alt-color;
    transition: 1000ms;
    z-index: -1;
    transform: translateY(-100%);
}
.overlay.open {
    transform: translateY(33%);
  }
    
    .modal__content{
        background: #f5c4c4;
        height: 100%;
        width:100%;
        margin-top: 0;
        border: solid 1px vars.$title-color;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
        // line-height: 1.4;
        display: flex;

        &__form{
            margin-left: 1.8rem;
        }
        &__title{
            color: vars.$title-color;
            
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
            margin-top: 1rem;
            
        }
        &__input, &__button {
            box-sizing: border-box;
            line-height: 35px;
            vertical-align: middle;
            margin-top: 0.5rem;
          }
          
          &__input{
            width: 70%;
            height:35px;
            font-size: 1.3rem;
            border: none;
            outline: none;
            transition: 1000ms;
            
          }
          &__input:focus{
            border-bottom:1px solid vars.$title-color;
        
            outline: none;
            
          }
          
          &__button{
            height: 35px;
            color: vars.$title-color;
            width: 35px;
            background: vars.$alt-color;
            border-radius: 0 5px 5px 0;
          }
    }



.close__modal {
    position: absolute;
    top:15px;
    right: 5px;
}
//je mediaquerie a partir de 700px
// @media screen and (min_width:700px){


// }